<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객센터</title>
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap" rel="stylesheet">
    <!-- style -->


</head>
<body>
    <!-- 헤더 -->
    <header id="header">
        <h1>고객행복센터</h1>
        <nav class="gnb">
            <ul>
                <li><a href="/login" class="line">로그인</a></li>
                <li><a href="/main" class="line">cookit home</a></li>
            </ul>
        </nav>
    </header>
<hr>
    <!-- 내용 -->
    <section>
        <section>
            <div>
                <form>
                    <input type="text" name="search" placeholder="궁금한 내용을 검색하세요">
                    <button>검색 아이콘 넣기</button>
                </form>
            </div>
        </section>
        <section>
            <div>
                <div>
                    공지사항
                </div>
                <div>
                    자주 묻는 질문
                </div>
                <div>
                    문의하기
                </div>
            </div>
        </section>
    </section>
<hr>
    <section>
        <h2>공지사항</h2>
        <div><span>번호</span> 공지사항리스트 <span>날짜</span></div>
    </section>
<hr>
    <!-- 푸터 -->
    <footer class="footer space-between">
        <!-- 푸터 로고 -->
        <div class="footerLogoWrap">
            <h1 class="footerLogo hide">cookit 고객행복센터</h1>
        </div>
        <div class="footerC">
            <ul>
                <li><a href="">이용약관</a></li>
                <li><a href="" class="line">개인정보처리방침</a></li>
                <li><a href="" class="line">법적고지</a></li>
                <li><a href="" class="line">사업자정보확인</a></li>
            </ul>
            <div>
                <p>해당 페이지는 클론코딩으로 제작된 페이지입니다</p>
            </div>
        </div>
    </footer>
</body>
</html>